<div class="container">
    <div class="header">
        <h1>About Me</h1>
    </div>
    <div class="image">
        <img src="https://thumbs2.imgbox.com/6b/bc/UzaU4S0K_t.png">	
    </div>
    <div class="intro column">
        <h2>Introduction</h2>
        <p>
            My name is Patrick. I like movies.
        </p>
    </div>
    <div class="skills column">
        <h3>My Skills</h3>
        <ul id="skill-list">
            <li>Programming</li>
            <li>Quality Assurance</li>
            <li>Teamwork</li>						
            <li>Analytical skills</li>
        </ul>
    </div>
    <div class="main-text">
        <h3>Contact Info</h3>
        <p>
            <i class="fa fa-envelope"></i> patrick.liuc0824@gmail.com
        </p>
        <p>
            <i class="fab fa-linkedin"></i> www.linkedin.com/in/changliupatrick
        </p>
        <p>
            <i class="fab fa-github"></i> https://github.com/Tenkaire
        </p>
    </div>
</div>
