/* DashboardComponent's private CSS styles */
h2 {
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}
  
.movies-menu {
  padding: 0;
  margin: auto;
  width: 100%;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.mat-parent {
  background-color:white; 
  margin-top: 6%;
  margin-bottom: 6%;
  width: 100%;
}

.carousel-item{
  height: 385px;
  width: 100%;
  position: center;
  background-color:white; 
} 

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  background: #FFF;
  width: 60%;
  height: 200px;
  border-radius: 4px;
  position: relative;
}

.carousel-container {
  width: 80%;
  margin: 50px auto;
  position: relative;
  border-left-width: 4px;
  border-left-color: #aaa;
}

@media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }
}

.inner-carousel {
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.track {
  display: inline-flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  overflow-x: visible;
}

.card-container {
  display: inline-block;
  width: 240px;
  height: 410px;
  flex-shrink: 0;
  overflow-x: visible;
}

@media (max-width: 800px) {
  .card-container {
    width: 184px;
  }
}

.card {
  width: 100%;
  height: 80%;
  background-position: center bottom;
  background-size: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.nav button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
}

.nav .prev {
  left: -10px;
}

.nav .next {
  right: -10px;
}